.modal {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: rgba(20, 20, 20, 20%);
    margin: 20%;
  
}

.modalButton {
    display: flex;
    justify-content: center;
    margin: 5%;
}