





#complex {text-align: left;} 
    
.t1 {width: 400px;}

#t2 {background-color: grey;}
 #t3 > td {background-color: lightgray;}

 .t1, th, td {border: 5px solid black; border-collapse: collapse;}